<div style="background-color: #eaf2ff; width: 100%">
  <div class="container py-4">
    <div class="p-2 pb-0 rounded-3">
      <div class="container-fluid py-5 d-flex flex-column align-items-center">
        <img
          src="../../../assets/gifs/community.gif"
          alt="community"
          style="width: max(180px, 22%)"
        />
        <h1 class="display-4 text-center fw-bold">
          Relationships based on <span class="text-gradient">trust</span>.
        </h1>
        <p class="col-md-8 fs-5 text-center">
          See why over 45K users chose our app to make their trips !
        </p>
        <p class="display-5 text-gradient">💙</p>
      </div>
    </div>
    <!-- dual cards with testimonail  -->
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-3 rounded-3">
          <h4>Reviews</h4>
          <h1 style="font-weight: 800">
            People <span class="text-gradient">love</span> how easy commuting
            became.
          </h1>
          <p>
            Our clients are people that had a hard time going home and now they
            can speak their mind about their relief when they discovered Ride
            app.
          </p>
          <p style="font-weight: 600">Learn more ↗</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-3 rounded-3">
          <!-- person 1 -->
          <div class="d-flex flex-row align-items-center">
            <img
              class="rounded-5 me-3"
              src="https://scontent.ftun9-1.fna.fbcdn.net/v/t39.30808-1/274480513_1179989572537674_7273953419814914029_n.jpg?stp=dst-jpg_p480x480&_nc_cat=108&ccb=1-7&_nc_sid=dbb9e7&_nc_ohc=ooZWdfxdLBcAX-EUSir&_nc_ht=scontent.ftun9-1.fna&oh=00_AfB3wiS9WnoLKObgK66IJrmG-54SW131js13RfKSOzjmTg&oe=64B34973"
              alt="picture of a man"
              style="width: 3em; height: 3em; object-fit: cover"
            />
            <div class="d-flex flex-column">
              <h6 class="m-0" style="font-weight: 700">
                Mohamed Ashref Ben Abdallah
              </h6>
              <h6 class="m-0" style="font-weight: 400">Development Student</h6>
            </div>
          </div>
          <p class="mt-4">
            "Good design is actually a lot harder to notice than poor, because
            good design fit our needs so well that the design is invisible."
          </p>
          <!-- divider  -->
          <hr style="height: 1px; background-color: #8442fe" />
          <!-- person 2  -->
          <div class="d-flex flex-row align-items-center">
            <img
              class="rounded-5 me-3"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCCyUKI82rttHx9nGEzJFqHvdlZHo9jfJ9Sw&usqp=CAU"
              alt="picture of a man"
              style="width: 3em; height: 3em"
            />
            <div class="d-flex flex-column">
              <h6 class="m-0" style="font-weight: 700">Ahmed Belfaidi</h6>
              <h6 class="m-0" style="font-weight: 400">Development Student</h6>
            </div>
          </div>
          <p class="mt-4">
            "Good design is actually a lot harder to notice than poor, because
            good design fit our needs so well that the design is invisible."
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
