<div class="body d-none d-lg-block" #wrapper>
  <section style="height: 30vh"></section>
  <div class="container">
    <h1>Not everybody has a car, we understand that.</h1>
    <p>
      but that doesn't mean you shouldn't be able to go home just because of
      things outside your control.
    </p>
  </div>
</div>
<!-- mobile -->
<div class="body d-block d-lg-none">
  <section style="height: 20rem"></section>
  <div
    class="container"
    style="padding: 0 0.8rem 0 0.8rem; margin: 0; width: 100%"
  >
    <h1 style="font-size: 3.5rem; text-align: left; flex-shrink: 1">
      Not everyone has a car, we realize that.
    </h1>
    <p style="font-size: 1.4rem; line-height: normal">
      but that doesn't mean you shouldn't be able to go home just because of
      things outside your control.
    </p>
  </div>
</div>
