.logo {
  background-position: center;
  background-size: cover;
  width: 15%;
  height: 10%;
  margin: 0 auto;
  margin-top: 6%;
  top: 100%;
}

.card {
  width: 100%;
  height: 250vh;
  background-color: #8743ff;
  border: 1px solid #8743ff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #8743ff;
  margin: 0 auto;
  margin-top: 10%;

  display: flex;
  margin-bottom: 6%;
}

#c2 {
  width: 90%;
  height: 200vh;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10%;
}

h1 {
  text-align: center;
}

#buttonlog {
  background: rgb(135, 67, 255);
  background: -moz-linear-gradient(
    270deg,
    rgba(135, 67, 255, 1) 0%,
    rgba(65, 54, 241, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(135, 67, 255, 1) 0%,
    rgba(65, 54, 241, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(135, 67, 255, 1) 0%,
    rgba(65, 54, 241, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8743ff", endColorstr="#4136f1", GradientType=1);

  box-shadow: 0px 15px 30px -3px rgba(20, 102, 204, 0.16);

  font-weight: 600;
  font-size: 2vh;
  color: white;
  border: none;
  margin: 0 auto;

  padding: 1.7vh 5vh;
  border-radius: 18px;
  width: 56%;
  cursor: pointer;
}

#Upload {
  background: rgb(135, 67, 255);
  background: -moz-linear-gradient(
    270deg,
    rgba(135, 67, 255, 1) 0%,
    rgba(65, 54, 241, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(135, 67, 255, 1) 0%,
    rgba(65, 54, 241, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(135, 67, 255, 1) 0%,
    rgba(65, 54, 241, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8743ff", endColorstr="#4136f1", GradientType=1);

  box-shadow: 0px 15px 30px -3px rgba(20, 102, 204, 0.16);

  font-weight: 400;
  font-size: 2vh;
  color: white;
  border: none;
  margin: 0 auto;

  padding: 1.7vh 5vh;
  border-radius: 18px;
  width: 20%;
  cursor: pointer;
}

form input {
  width: 100%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #e4e4e4;
  text-underline-offset: 1px;
}

.back {
  background-color: #eaf2ff;
  width: 100%;
  height: 270vh;
  display: flex;
}

@media only screen and (max-width: 790px) {
  .logo {
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 9%;
    margin: 0 auto;
    margin-top: 6%;
    top: 100%;
  }

  .card {
    width: 100%;
    height: 180vh;
    background-color: #8743ff;
    border: 1px solid #8743ff;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #8743ff;
    margin: 0 auto;
    margin-top: 10%;

    display: flex;
    margin-bottom: 6%;
  }

  #c2 {
    width: 90%;
    height: 140vh;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10%;
  }

  h1 {
    text-align: center;
  }

  #buttonlog {
    background: rgb(135, 67, 255);
    background: -moz-linear-gradient(
      270deg,
      rgba(135, 67, 255, 1) 0%,
      rgba(65, 54, 241, 1) 100%
    );
    background: -webkit-linear-gradient(
      270deg,
      rgba(135, 67, 255, 1) 0%,
      rgba(65, 54, 241, 1) 100%
    );
    background: linear-gradient(
      270deg,
      rgba(135, 67, 255, 1) 0%,
      rgba(65, 54, 241, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8743ff", endColorstr="#4136f1", GradientType=1);

    box-shadow: 0px 15px 30px -3px rgba(20, 102, 204, 0.16);

    font-weight: 600;
    font-size: 2vh;
    color: white;
    border: none;

    border-radius: 18px;
    width: 90%;
    display: flex;
  }

  #Upload {
    background: rgb(135, 67, 255);
    background: -moz-linear-gradient(
      270deg,
      rgba(135, 67, 255, 1) 0%,
      rgba(65, 54, 241, 1) 100%
    );
    background: -webkit-linear-gradient(
      270deg,
      rgba(135, 67, 255, 1) 0%,
      rgba(65, 54, 241, 1) 100%
    );
    background: linear-gradient(
      270deg,
      rgba(135, 67, 255, 1) 0%,
      rgba(65, 54, 241, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8743ff", endColorstr="#4136f1", GradientType=1);

    box-shadow: 0px 15px 30px -3px rgba(20, 102, 204, 0.16);

    font-weight: 400;
    font-size: 2vh;
    color: white;
    border: none;
    margin: 0 auto;

    padding: 1.7vh 5vh;
    border-radius: 18px;
    width: 90%;
    height: 20%;
    cursor: pointer;
  }

  form input {
    width: 100%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
    text-underline-offset: 1px;
  }

  .back {
    background-color: #eaf2ff;
    width: 100%;
    height: 270vh;
    display: flex;
  }
}
