<!-- ! Mobile header -->
<header
  class="d-flex d-lg-none justify-content-between pt-4 px-4"
  style="background-color: #eaf2ff"
  id="headerAnim"
>
  <a
    #logoImg
    href="/"
    class="d-flex align-items-center col-md-3 0 text-dark text-decoration-none"
  >
    <img
      class="img-fluid"
      style="width: 5rem"
      src="../assets/logo.png"
      alt="logo"
      srcset=""
    />
  </a>

  <img
    #hamburger
    class=""
    style="width: 2rem; height: 1.5rem"
    src="../assets/menu.png"
    alt="logo"
    srcset=""
  />
</header>

<!-- !Desktop header -->
<!-- buffer  -->
<div
  style="
    position: absolute;
    background-color: #eaf2ff;
    height: 100%;
    width: 100%;
    z-index: -999;
  "
></div>
<!-- end of buffer -->
<header
  #header
  class="d-none d-lg-flex"
  style="
    background-color: #eaf2ff71;
    padding: 1rem 0 1rem 0;
    margin: 0 4vw 0 4vw;
    justify-content: space-around;
    border-radius: 25px;
    position: sticky;
    top: 4vh;
    backdrop-filter: blur(7px);
    z-index: 10;
  "
>
  <a href="/" class="d-flex align-items-center">
    <img
      #logoImg2
      class="img-fluid"
      style="width: min(8rem, 10vw)"
      src="../assets/logo.png"
      alt="logo"
    />
  </a>

  <ul
    #list
    class="nav mb-2 align-items-center justify-content-between mb-md-0 gap-3 gap-lg-4 gap-xl-5"
  >
    <li>
      <a [routerLink]="['/']" class="nav-link px-2 link-dark fs-6">Home</a>
    </li>
    <li>
      <a [routerLink]="['/postBrowser']" class="nav-link px-2 link-dark fs-6"
        >Posts</a
      >
    </li>
    <li>
      <a [routerLink]="['/profile']" class="nav-link px-2 link-dark fs-6"
        >Profile</a
      >
    </li>
    <li>
      <a [routerLink]="['/contact']" class="nav-link px-2 link-dark fs-6"
        >Contact</a
      >
    </li>
  </ul>
  <div class="CTAbuttons">
    <!-- no user logged in -->
    <div *ngIf="currentUser == null" style="justify-self: end">
      <a
        [routerLink]="['/login']"
        class="link-dark pe-3 pe-xl-4 fs-6"
        style="text-decoration: none"
        >Log in</a
      >
      <button
        type="button"
        [routerLink]="['/signup']"
        class="gradient-button fs-6"
        style="padding: 0.6em 2vw; border-radius: 14px"
      >
        Sign up
      </button>
    </div>
    <!-- user logged in true -->
    <div
      *ngIf="currentUser"
      class="col-md-3 text-end d-flex flex-row align-items-center"
    >
      <span
        class="link-dark pe-4"
        style="text-decoration: none; font-weight: 600"
        >{{ currentUser[0]["username"] }}
      </span>
      <img
        src="https://sonar.ftun5-1.fna.fbcdn.net/v/t39.30808-1/274480513_1179989572537674_7273953419814914029_n.jpg?stp=dst-jpg_p240x240&_nc_cat=108&ccb=1-7&_nc_sid=7206a8&_nc_ohc=7hI4tan_jvMAX9K_68x&_nc_ad=z-m&_nc_cid=1360&_nc_ht=sonar.ftun5-1.fna&oh=00_AfCXlGfuzQmPUBmKl2XBGGZjq3kclhIVMlDQzocSWOj3ag&oe=645657B3"
        [routerLink]="['/profile']"
        style="width: 3.2rem; border-radius: 100%; border: 3px solid #8543ff"
      />
      <button
        class="gradient-button"
        style="padding: 0.5rem 1rem 0.5rem 1rem"
        (click)="clearAll()"
      >
        Log out
      </button>
    </div>
  </div>
</header>
