.gradient-button {
  background: rgb(135, 67, 255);
  background: -moz-linear-gradient(
    270deg,
    rgba(135, 67, 255, 1) 0%,
    rgba(65, 54, 241, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(135, 67, 255, 1) 0%,
    rgba(65, 54, 241, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(135, 67, 255, 1) 0%,
    rgba(65, 54, 241, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8743ff",endColorstr="#4136f1",GradientType=1);
  // Box shadow
  box-shadow: 0px 15px 30px -3px rgba(20, 102, 204, 0.16);

  font-weight: 600;
  font-size: 2vh;
  color: white;
  border: none;
  margin: 0 auto;

  padding: 1.7vh 5vh;
  border-radius: 18px;
  width: fit-content;
  cursor: pointer;

  transition: all 1000ms;
  &:hover,
  &:focus-visible {
    transform: translateY(-0.2rem);
    transition: all 100ms;
  }
}
.gradient-button-lg {
  background: rgb(135, 67, 255);
  background: -moz-linear-gradient(
    270deg,
    rgba(135, 67, 255, 1) 0%,
    rgba(65, 54, 241, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(135, 67, 255, 1) 0%,
    rgba(65, 54, 241, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(135, 67, 255, 1) 0%,
    rgba(65, 54, 241, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8743ff",endColorstr="#4136f1",GradientType=1);
  // Box shadow
  box-shadow: 0px 15px 30px -3px rgba(20, 102, 204, 0.16);

  font-weight: 600;
  font-size: medium;
  color: white;
  border: none;

  padding: 1rem 2.6rem;
  border-radius: 13px;
  width: fit-content;
  cursor: pointer;

  transition: all 1000ms;
  &:hover,
  &:focus-visible {
    transform: translateY(-1rem);
    transition: all 250ms;
    box-shadow: 0 0 50px 2px #9a63ff92, 0.45rem 0.45rem 28px #9e6aff9d;
  }
}
@media screen and (max-width: 1100px) {
  .nav-link {
    font-size: smaller !important;
  }
  div a.link-dark {
    font-size: smaller !important;
  }
  div button.gradient-button {
    font-size: smaller !important;
  }
}
