<!--  yeah yeah i know -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>
<div style="background-color: #eaf2ff">
  <section class="deneb_cta" style="padding-top: 2em">
    <div class="container">
      <div class="cta_wrapper shadow-lg px-lg-5 py-lg-4 px-3 py-4">
        <div class="row align-items-center">
          <div class="col-lg-auto">
            <div class="cta_content">
              <h1 style="color: white">✉</h1>
              <h2>We'd love to hear from you</h2>
              <p>If you have any feedbach please feel free to contact us.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="deneb_footer">
    <div class="widget_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="widget widegt_about">
              <div class="widget_title">
                <img
                  src="../../assets/logo.png"
                  class="img-fluid"
                  alt="logo"
                  style="width: 5em"
                />
              </div>
              <p>
                Quisque orci nisl, viverra et sem ac, tincidunt egestas massa.
                Morbi est arcu, hendrerit ac vehicula condimentum, euismod nec
                tortor praesent consequat urna.
              </p>
              <ul class="social">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="widget widget_link">
              <div class="widget_title">
                <h4>Links</h4>
              </div>
              <ul>
                <li><a >Privacy Policy</a></li>
                <li><a >Services</a></li>
                <li><a >Legal</a></li>
                <li><a >About</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="widget widget_contact">
              <div class="widget_title">
                <h4>Contact Us</h4>
              </div>
              <div class="contact_info">
                <div class="single_info">
                  <div class="icon">
                    <i class="fas fa-phone-alt"></i>
                  </div>
                  <div class="info">
                    <p><a>+216 12 345 678</a></p>
                  </div>
                </div>
                <div class="single_info">
                  <div class="icon">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="info">
                    <p><a href="mailto:info@deneb.com">hello@ride.com</a></p>
                  </div>
                </div>
                <div class="single_info">
                  <div class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="info">
                    <p>125, Park street aven, Brocklyn</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright_text">
              <p>Copyright &copy; 2020 All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
