<div style="height: fit-content; width: 100%; background-color: #eaf2ff">
  <div class="container">
    <footer
      style="background-color: #eaf2ff"
      class="d-flex flex-col flex-wrap justify-content-between align-items-center py-3"
    >
      <div class="col-md-4 d-flex align-items-center">
        <a
          href="/"
          class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
        >
          <img src="../../assets/logo.png" alt="" style="width: 120px" />
        </a>
       
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
          <a
            class="text-muted"
            href="instagram.com/MohamedAshrefBna"
            target="_blank"
            ><img
              src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-social-platform-icon-png-image_6315976.png"
              alt=""
              width="24px"
            />
          </a>
        </li>
        <li class="ms-3">
          <a
            class="text-muted"
            href="facebook.com/MohamedAshrefBna"
            target="_blank"
            ><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png"
              alt=""
              style="width: 24px"
          /></a>
        </li>
      </ul>
      <p class="text-muted mx-5">© 2023 Ride, Inc - a010</p>
    </footer>
  </div>
</div>
