<div class="back">
  <div class="container fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <img src="../../../assets/SL.png" class="logo" />
          <div class="card-body">
            <div class="card" id="c2">
              <br />

              <div class="card-title">
                <h2><strong>Welcome</strong></h2>
              </div>

              <div class="card-body">
                <h5>Contact us</h5>
                <p>MohamedAshrefBenAbdallah@gmail.com</p>
                <ul
                  class="nav col-md-10 justify-content-end list-unstyled d-flex"
                >
                  <li class="ms-3">
                    <a
                      class="text-muted"
                      href="instagram.com/MohamedAshrefBna"
                      target="_blank"
                      ><img
                        src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-social-platform-icon-png-image_6315976.png"
                        alt=""
                        width="24px"
                      />
                    </a>
                  </li>
                  <li class="ms-3">
                    <a
                      class="text-muted"
                      href="facebook.com/MohamedAshrefBna"
                      target="_blank"
                      ><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png"
                        alt=""
                        style="width: 24px"
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
