<div class="d-lg-none" #list2>
  <div class="marquee">
    <div class="marquee-content scroll">
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
    </div>
    <div class="marquee-content scroll">
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
    </div>
  </div>
  <div class="marquee">
    <div class="marquee-content scroll rev">
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
    </div>
    <div class="marquee-content scroll rev">
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
    </div>
  </div>
  <div class="marquee">
    <div class="marquee-content scroll">
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
    </div>
    <div class="marquee-content scroll">
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
    </div>
  </div>
  <div class="marquee">
    <div class="marquee-content scroll rev">
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
    </div>
    <div class="marquee-content scroll rev">
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
    </div>
  </div>
  <div class="marquee">
    <div class="marquee-content scroll">
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
    </div>
    <div class="marquee-content scroll">
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
    </div>
  </div>
  <div class="marquee">
    <div class="marquee-content scroll rev">
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
    </div>
    <div class="marquee-content scroll rev">
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
      <img src="../../../assets/RIDE.png" alt="" srcset="" />
    </div>
  </div>
</div>
