<!--  yeah yeah i know -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>
<app-one-line-marquee></app-one-line-marquee>
<div style="background-color: #eaf2ff">
  <section class="deneb_cta" style="padding-top: 2em">
    <div class="container">
      <div class="cta_wrapper shadow-lg px-lg-5 py-lg-4 px-3 py-4">
        <div class="row align-items-center">
          <div class="col-lg-auto">
            <div class="cta_content">
              <h1 style="color: white">✉</h1>
              <h2>We'd love to hear from you</h2>
              <p>If you have any feedbach please feel free to contact us.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="deneb_footer">
    <div class="widget_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="widget widegt_about">
              <div class="widget_title">
                <img
                  src="../../assets/logo.png"
                  class="img-fluid"
                  alt="logo"
                  style="width: 5em"
                />
              </div>
              <p>
                We are dedicated to helping people connect with each other in
                order to make commuting easier.
              </p>
              <ul class="social">
                <li>
                  <a
                    href="https://facebook.com/MohamedAshrefBna"
                    target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://linkedin.com/in/MohamedAshrefBna"
                    target="_blank"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="https://instagram.com/MohamedAshrefBna"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="widget widget_link">
              <div class="widget_title">
                <h4>Links</h4>
              </div>
              <ul>
                <li><a>Privacy Policy</a></li>
                <li><a>Services</a></li>
                <li><a>Legal</a></li>
                <li><a>About</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="widget widget_contact">
              <div class="widget_title">
                <h4>Contact Us</h4>
              </div>
              <div class="contact_info">
                <div class="single_info d-flex flex-row align-items-center">
                  <div class="icon">
                    <i class="fas fa-phone-alt"></i>
                  </div>
                  <div class="info">
                    <p>+216 12 345 678</p>
                  </div>
                </div>
                <div class="single_info d-flex flex-row align-items-center">
                  <div class="icon">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="info">
                    <p>hello@ride.com</p>
                  </div>
                </div>
                <div class="single_info d-flex flex-row align-items-center">
                  <div class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="info">
                    <p>123, Imaginary St, Tunis</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright_text">
              <p>Copyright &copy; 2023 All rights reserved. v171023</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
