<!-- !desktop -->
<section class="section1 d-none d-lg-flex">
  <div class="wrapper">
    <h1 class="headerAnim split">
      <p>S</p>
      <p>O</p>
      <p>&nbsp;</p>
      <p>W</p>
      <p>E</p>
      <p>&nbsp;</p>
      <p>F</p>
      <p>I</p>
      <p>X</p>
      <p>E</p>
      <p>D</p>
      <p>&nbsp;</p>
      <p>I</p>
      <p>T</p>
      <p>.</p>
    </h1>
  </div>
  <div>
    <div class="wrapper-move">
      <h1 class="header_text-move">Discover</h1>
    </div>
    <div class="wrapper-move">
      <h1 class="header_text-move" style="font-style: italic; font-weight: 200">
        the best in
      </h1>
    </div>
    <div class="wrapper-move">
      <h1 class="header_text-move">mobility</h1>
    </div>
    <div class="wrapper-move">
      <h1 class="header_text-move">at Tunisia</h1>
    </div>
  </div>
</section>

<!-- !mobile text -->
<section class="section1 d-flex d-lg-none">
  <div class="wrapper" style="translate: 0 -9rem">
    <h1 class="headerAnim splitmb" style="font-size: 3.1rem">
      <p>W</p>
      <p>E</p>
      <p>&nbsp;</p>
      <p>F</p>
      <p>I</p>
      <p>X</p>
      <p>E</p>
      <p>D</p>
      <p>&nbsp;</p>
      <p>I</p>
      <p>T</p>
      <p>.</p>
    </h1>
  </div>
  <div>
    <div class="wrapper-move">
      <h1
        class="header_text-move"
        style="font-size: 18vw; padding-bottom: 3.5vh"
      >
        Discover
      </h1>
    </div>
    <div class="wrapper-move">
      <h1
        class="header_text-move"
        style="
          font-size: 18vw;
          padding-bottom: 3.5vh;
          font-style: italic;
          font-weight: 200;
        "
      >
        the best in
      </h1>
    </div>
    <div class="wrapper-move">
      <h1
        class="header_text-move"
        style="font-size: 18vw; padding-bottom: 3.5vh"
      >
        mobility
      </h1>
    </div>
    <div class="wrapper-move">
      <h1
        class="header_text-move"
        style="font-size: 18vw; padding-bottom: 3.5vh"
      >
        at Tunisia
      </h1>
    </div>
  </div>
</section>

<!-- sticky -->
<section class="sticky-circle-wrapper">
  <div class="sticky-circle">
    <div class="sticky-circle-element d-none d-lg-flex">
      <img
        src="https://images.pexels.com/photos/4005051/pexels-photo-4005051.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
        class="sticky-circle-img"
      />
    </div>
    <div class="sticky-circle-element d-lg-none">
      <img
        src="https://images.pexels.com/photos/5717583/pexels-photo-5717583.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
        class="sticky-circle-img"
      />
    </div>
  </div>
</section>
