<div style="height: 2rem; background-color: #eaf2ff"></div>
<app-one-line-marquee></app-one-line-marquee>
<div
  style="background-color: #eaf2ff; padding: 3vh 0"
  class="d-flex align-items-center justify-content-center"
>
  <div
    class="container row my-5 bg-white p-4 align-items-center justify-content-between rounded-5 border shadow-lg"
  >
    <div class="col-lg-6 p-3 p-lg-5 d-flex justify-content-between flex-column">
      <h1 class="display-4 fw-bold lh-1 text-center">
        <mark class="text-gradient">Going Home</mark>doesn't have to be hard.
      </h1>

      <p class="lead text-center d-lg-none">
        Introducing the premiere app for ride sharing in Tunisia.
      </p>
      <p
        class="lead text-center d-none d-lg-block px-5"
        style="font-size: x-large"
      >
        Introducing the premiere app for ride sharing in Tunisia.
      </p>
      <button class="gradient-button my-2">Join now</button>
    </div>
    <div
      class="col-lg-6 h-100 p-0 overflow-hidden shadow-lg d-flex align-content-center justify-content-center rounded-5"
    >
      <img
        class="rounded-lg-3"
        src="https://media.istockphoto.com/id/966294980/photo/chasing-taxi.jpg?s=612x612&w=0&k=20&c=dwCE0DOkdwH7BCIptm4Wdd0KeDyEwqSOoJbY--9p0RY="
        alt="ride"
        style="object-fit: cover"
      />
    </div>
  </div>
</div>
