<app-header></app-header>
<div class="bg">
  <!-- bg dots -->
  <img
    class="position-absolute"
    style="top: 30vh; left: -2.6rem; width: 7rem"
    src="../assets/repeatDesk1.png"
    alt=""
  />
  <!-- <img
    class="position-absolute"
    style="top: 12vh; right: -4rem; width: 7rem"
    src="../assets/repeatDesk1.png"
    alt=""
  /> -->
  <!-- page content -->
  <div class="container w-100 mt-5 d-flex flex-column">
    <div style="position: relative">
      <h1 class="title-top">Pick a route</h1>
    </div>

    <input
      id="search"
      type="search"
      placeholder="Search..."
      [(ngModel)]="term"
    />
    <!-- ! TODO: make the search look pretty -->
    <!-- <button class="gradient-button my-2" style="justify-self: flex-end">
      Search
    </button> -->

    <div
      [innerHTML]="postsMarkup"
      class="row d-flex align-content-center justify-content-center gap-5 my-5"
    >
      <!-- *ngFor="let post of postList | filter : term" -->

      <!-- // ! posts go here  -->
    </div>
  </div>
</div>
<app-footer></app-footer>
