<!--====== ERROR PART START ======-->
<section class="error-area error-one">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-7 col-xl-8 col-lg-8">
        <div class="error-content text-center">
          <span class="error-404">404</span>
          <h5 class="sub-title">Page Not Found</h5>
          <p class="text">The page you're looking for does not exist.</p>
          <button
            class="btn primary-btn rounded-full text-white"
            style="background-color: #7a41fd"
            [routerLink]="['/']"
          >
            Back home
          </button>
        </div>
        <!-- error content -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!--====== ERROR PART ENDS ======-->
