.marquee {
  display: flex;
  overflow: hidden;
  gap: 1rem;
  position: relative;
  user-select: none;
  padding-bottom: 2vh;
}
.marquee-content {
  display: flex;
  flex-shrink: 0;
  // justify-content: space-around;  why did i put this?
  min-width: 100%;
  gap: 1rem;
  height: 5vh;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}
.scroll {
  animation: scroll 8s linear infinite;
}
.rev{
  animation-direction: reverse;
}
